@inject IJSRuntime JSRuntime
@inject ThemeProvider ThemeProvider
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>
	<Theme>
		<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <RedirectToSignIn />
					</NotAuthorized>
				</AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
        <LayerHost />
	</Theme>
</CascadingAuthenticationState>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (await JSRuntime.InvokeAsync<bool>("isDarkMode"))
        {
            ThemeProvider.UpdateTheme(new DefaultPaletteDark());
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (await LocalStorage.ContainKeyAsync("prevSignIn") && !authState.User.Identity.IsAuthenticated)
        {
            await LocalStorage.RemoveItemAsync("prevSignIn");
            NavigationManager.NavigateTo("/signin");
        }
    }
}
